{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5">Duka Connect Loyalty Points API Documentation</h1>
      <p class="lead">This is version 1 of the DukaConnect Loyalty Points API</p>
    </div>
  </div>
  <div class="container">
    <!-- 1. SHOPKEEPER SIGNUP API -->
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Sign up a shopkeeper</h4>
        <h6 class="card-subtitle mb-2 text-muted">Signs up a shopkeeper into the platform and returns a JSON of their details.</h6>
        <ul>
          <li>URL</li>
          <code>/v1/accounts/signup/shopkeepers/</code>
          <li>Method</li>
          <code>POST</code>
          <li>URL Params</li>
          <code>None</code>
          <li>Data Params</li>
          <pre>first_name=[string]<br>last_name=[string]<br>username=[string]<br>user_type=[string]<br>phonenumber=[string]<br>gender=[string]<br>date_of_birth=[string]
          </pre>
          <li>Success Response</li>
            <ul>
              <li>Status Code:
                <code>201 CREATED</code>
              </li>
              <li>Content: <pre>
                {
                  "data": {
                    "first_name": "John",
                    "last_name": "Doe",
                    "username": "testuser",
                    "user_type": "SHOPKEEPER",
                    "phonenumber": "0705867162",
                    "gender": "MALE",
                    "date_of_birth": "1993-01-05",
                  },
                  "error": False,
                  "message": "Shopkeeper has been created"
                }
            </pre>
              </li>
            </ul>
          <li>Error Response</li>
            <ul>
              <li>Status Code:
                <code>409 CONFLICT</code>
              </li>
              <li>Content:<pre><code>
                {
                  "data": {
                    "first_name": "John",
                    "last_name": "Doe",
                    "username": "testuser",
                    "user_type": "SHOPKEEPER",
                    "phonenumber": "0705867162",
                    "gender": "MALE",
                    "date_of_birth": "1993-01-05",
                  },
                  "error": True,
                  "message": "Shopkeeper has already been created"
                }</code></pre>
              </li>
            </ul>
          <li>Sample call</li><pre><code>
              import requests
              import json
              headers = {'content-type': 'application/json'}
              url = 'https://test.dukaconnect.com/v1/accounts/signup/shopkeepers/'
              data = {"first_name": "John", "last_name": "Doe", "username": "testuser", "user_type": "SHOPKEEPER", "phonenumber": "0705867162", "gender": "MALE", "date_of_birth":  "1993-01-05"}
              requests.post(url, data=json.dumps(data), headers=headers)
            </code>
          </pre>
        </ul>
      </div>
    </div>
    <!-- END SHOPKEEPER SIGN UP API -->
  <hr>
    <!-- 2. CUSTOMER SIGN UP -->
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Sign up a customer</h4>
        <h6 class="card-subtitle mb-2 text-muted">Signs up a customer into the platform and returns a JSON of their details. This is done by a shopkeeper.</h6>
        <ul>
          <li>URL</li>
            <code>/v1/accounts/signup/customers/</code>
          <li>Method</li>
            <code>POST</code>
          <li>URL Params</li>
            <code>None</code>
          <li>Data Params</li>
            <pre>
              <code>first_name=[string]</code>
              <code>last_name=[string]</code>
              <code>username=[string]</code>
              <code>user_type=[string]</code>
              <code>phonenumber=[string]</code>
              <code>gender=[string]</code>
              <code>date_of_birth=[string]</code>
              <code>shopkeeper_id=[integer]</code>
            </pre>
          <li>Success Response</li>
            <ul>
              <li>Status Code:
                <code>201 CREATED</code>
              </li>
              <li>Content: <pre><code>{
                "data" : {
                  "first_name": "John",
                  "last_name": "Doe",
                  "username": "testuser",
                  "user_type": "CUSTOMER",
                  "phonenumber": "0705867162",
                  "gender": "MALE",
                  "date_of_birth": "1993-01-05",
                  "shopkeeper_id": 1,
                },
                "error": False,
                "message": "Customer has been created."
              }</code></pre>
              </li>
            </ul>
          <li>Error Response</li>
            <ul>
              <li>Status Code:
                <code>404 NOT FOUND</code>
              </li>
              <li>Content:<pre><code>
                {
                  "data" : {
                    "first_name": "John",
                    "last_name": "Doe",
                    "username": "testuser",
                    "user_type": "CUSTOMER",
                    "phonenumber": "0705867162",
                    "gender": "MALE",
                    "date_of_birth": "1993-01-05",
                    "shopkeeper_id": 1,
                  },
                  "error": True,
                  "message": "Shopkeeper with id 1 does not exist."
                }</code></pre>
              </li>
            </ul>
          <li>Sample call</li><pre><code>
            import requests
            import json
            headers = {'content-type': 'application/json'}
            url = 'https://test.dukaconnect.com/v1/accounts/signup/customers/'
            data = {"first_name": "John", "last_name": "Doe", "username": "testuser", "user_type": "SHOPKEEPER", "phonenumber": "0705867162", "gender": "MALE", "date_of_birth":  "1993-01-05", "shopkeeper_id": 1}
            requests.post(url, data=json.dumps(data), headers=headers)
            </code></pre>
        </ul>
      </div>
    </div>
    <!-- END CUSTOMER SIGN UP API -->
  <hr>
    <!-- 3. VERIFY SHOPKEEPER SIGN UP API -->
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Verify a shopkeeper</h4>
        <h6 class="card-subtitle mb-2 text-muted">Verify the code the shopkeepers will be sent after sign up.</h6>
        <ul>
          <li>URL</li>
            <code>/v1/accounts/verify/shopkeepers/</code>
          <li>Method</li>
            <code>POST</code>
          <li>URL Params</li>
            <code>None</code>
          <li>Data Params</li>
            <code>userCode=[string]</code><br>
            <code>userType=[string]</code>
          <li>Success Response</li>
            <ul>
              <li>Status Code:
                <code>202 ACCEPTED</code>
              </li>
              <li>Content: <pre>{
                "token": "oiakjkds0kajsdkj0qw0190490101jkkkajkjkl;k'",
                "userData": {
                  "username": "testuser",
                  "first_name": "John",
                  "last_name": "Doe",
                  "email": "tester@gmail.com",
                  "user_type": SHOPKEEPER,
                  "phonenumber": "0791212302",
                  "avatar": "https:dukaconnect.com/media/avatars/testeruser/logo.png",
                  "gender": "MALE",
                  "date_joined": "26 April 2017"
                },
                "error": False,
                "message":   "Login success. John Doe welcome to DukaConnect.",
                "userCode": "userC0D3"
              }
              </pre>
              </li>
            </ul>
          <li>Error Response</li>
            <ul>
              <li>Status Code:
                <code>401 UNAUTHORIZED</code>
              </li>
              <li>Content:<pre><code>{
                "error": True,
                "message": "The code userC0D3 has expired. Generate a new one to verify",
                "userCode": "userC0D3"
                }</code></pre>
              </li>
            </ul>
          <li>Sample call</li><pre><code>
            import requests
            import json
            headers = {'content-type': 'application/json'}
            url = 'https://test.dukaconnect.com/v1/accounts/signup/customers/'
            data = {"userType": "SHOPKEEPER", "userCode": "userC0D3"}
            requests.post(url, data=json.dumps(data), headers=headers)
            </code></pre>
        </ul>
      </div>
    </div>
  <hr>
    <!-- 4. SHOPKEEPER LOGIN -->
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Login a shopkeeper</h4>
        <h6 class="card-subtitle mb-2 text-muted">Allow a shopkeeper access into the platform.</h6>
        <ul>
          <li>URL</li>
            <code>/v1/accounts/login/</code>
          <li>Method</li>
            <code>POST</code>
          <li>URL Params</li>
            <code>None</code>
          <li>Data Params</li>
            <code>username=[string]</code><br>
            <code>password=[string]</code>
          <li>Success Response</li>
            <ul>
              <li>Status Code:
                <code>200 OK</code>
              </li>
              <li>Content: <pre>{
	"userData": {
		"username": "admin",
		"first_name": "Martin",
		"last_name": "Musale",
		"email": "",
		"user_type": "ADMIN",
		"phonenumber": "",
		"avatar": "/media/avatars/default-avatar.png",
		"gender": "MALE",
		"date_joined": "2017-04-27T07:34:30.152695Z"
	},
	"token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidXNlcl9pZCI6MywiZW1haWwiOiIiLCJleHAiOjE0OTMyNzkxNDF9.PhqJxnQbyQRPGNnc3XCT9V2dC5utjnbJXB5PA9Ecgcg",
	"message": "Login success. Martin Musale welcome to DukaConnect.",
	"userCode": null,
	"error": false
}
              </pre>
              </li>
            </ul>
          <li>Error Response</li>
            <ul>
              <li>Status Code:
                <code>401 UNAUTHORIZED</code>
              </li>
              <li>Content:<pre>
                {
	"non_field_errors": ["Unable to log in with provided credentials."]
}
              </pre>
              </li>
            </ul>
          <li>Sample call</li><pre>
            curl -X POST -H "Content-Type: application/json" -d '{"username":"admin","password":"admin001"}' http://dev.loyalty.com/v1/accounts/login/
          </pre>
        </ul>
      </div>
    </div>
    <!-- END SHOPKEEPER LOGIN -->
  </div>
<!-- END SHOPKEEPER SIGNUP API -->
{% endblock %}

<!-- SAMPLE API CARD -->
<!-- <div class="card">
  <div class="card-block">
    <h4 class="card-title">API NAME</h4>
    <h6 class="card-subtitle mb-2 text-muted">API details</h6>
    <ul>
      <li>URL</li>
      <p>SOme stuff</p>
      <li>Methog</li>
      <p>Some stuff</p>
      <li>URL Params</li>
      <p>Some stuff</p>
      <li>Data Params</li>
      <p>Some stuff</p>
      <li>Success Response</li>
      <p>Some stuff</p>
      <li>Error Response</li>
      <p>Some stuff</p>
    </ul>
  </div>
</div> -->
<!-- END SAMPLE API CARD -->
